{% extends "core/wrapper.html" %}

{% block content %}

    <p>What do we have:</p>
    {% for user in users %}
        {{ user.username }}<br>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname"><br>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="sname">Second name:</label><br>
        <input type="text" id="sname" name="sname"><br>
        <label for="eml">Email:</label><br>
        <input type="email" id="eml" name="eml"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br>
        <label for="rpwd">Repeat password:</label><br>
        <input type="password" id="rpwd" name="rpwd"><br>
        <input type="submit" value="Register">
    </form>
{% endblock %}
